include ../../template_files/pug/elements
doctype html
html(lang="en")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		//- responsive
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		//- main stylesheet
		link(rel="stylesheet", type="text/css", href="css/main.css")
		link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
		link(rel="stylesheet" type="text/css" href="css/wc-segments.lib.min.css")
		script(src="js/segments.lib.js")
	body
		#siteWrapper
			#open
				block content
