@import '../template_files/stylus/imports'
@import 'nib'

// Declare all fonts first
fonts(open-sans, '300italic,400italic,600italic,700italic,800italic,400,300,600,700,800')
fonts(play, '400,700')
fonts(blockletter, '')
iconfont()
// Now declare global reset and all dependencies: base, headings, forms, etc
global-reset()
base()
headings()
forms()
widgets()
mobile()
segments()
responsive-segments()
demo()

// edit()

body, *
	font-family: open-sans
h1
h2
h3
h4
h5
h6
	font-family: open-sans

#contain
	position: relative
	margin: 0 auto
	max-width: lg
	min-height: 600px
	background-color: #FFF
	font-family: Play !important
	font-weight: normal

// Begin your custom styles here!

.title
	font-size: 1.2rem
.title2
	margin-top: 5px
	font-size: 1.25rem
.homescreen-icon
	margin-right: 10px
	vertical-align: -22%
	font-size: 2.3rem
	color: #6b6b6b

.dark .homescreen-icon
	color: #b6b6b6

.favorite-icon
	font-size: 1.9rem
	color: #6b6b6b
div.HAL
	margin-top: -8px
	display: inline-block
	position: relative
	width: 18px
	height: 46px
	background-color: #767676
	border: 1px solid black
	border-top-left-radius: 11px 3px
	border-top-right-radius: 11px 3px
	border-bottom-left-radius: 11px 3px
	border-bottom-right-radius: 11px 3px
	&:before
		position: absolute
		margin: auto
		left: 0
		right: 0
		top: 0
		bottom: 0
		content: ""
		background-color: black
		width: 12px
		height: 38px
		border-top-left-radius: 9px 2px
		border-top-right-radius: 9px 2px
		border-bottom-left-radius: 9px 2px
		border-bottom-right-radius: 9px 2px
	&:after
		content: ""
		position: absolute
		margin: auto
		top: 10px
		left: 0
		right: 0
		width: 6px
		height: 6px
		border: 1px solid white
		border-radius: 100%

.border-bottom
	border-bottom: 1px solid #ddd

div.alert
	margin: auto
	width: 15px
	border-left: 18px solid transparent
	border-right: 18px solid transparent
	border-bottom: 29px solid #444

.small
	font-size: 0.75em

.hide
	display: none

.dark
	color: #b6b6b6

.button.large
	padding: 15px 30px
	font-size: 1.5rem

.contain-email
	max-width: 500px

.big-wrap
	padding-top: 60px
	padding-bottom: 60px

.passcode
	font-size: 2rem
	font-weight: 700

.biggun
	font-size: 4.5rem

.passcode-field
	margin: auto
	max-width: 300px
	display: none
	&.show
		display: block
a
	cursor: pointer
