extend __core__/default
block content
	panel-wrapper.light.border-bottom
		panel-inner(whitespace="30")
			prime-segment
				x-major
					a(href="index.html")
						h4 
							i.icon-arrow-left
							| Nakatomi Plaza
				x-minor
					div.HAL
	panel-wrapper.light
		panel-inner(whitespace="10")
			- var titles=["Main Lobby", "Roof", "Parking Garage"]
			- var i = 0
			+loop(3)
				div.wrap
					prime-segment
						x-major
							i.icon-lock.homescreen-icon
							a(href="fallback.html")= titles[i]
							- i++
						x-minor
							i.icon-star.favorite-icon
