extend __core__/default
block content
	+panel().dark
	+panel().light
		div.contain-email.center
			div.clear-wrap.center-justify
				h4 1. Install the Touch mobile app
			div.wrap
				segment-elem.fifths.major-in-the-middle
					x-minor
					x-major
						div.wrap.dark
							prime-segment
								x-minor
									i.icon-info.homescreen-icon
								x-major
									div.small Download on the 
									.title2 App Store
					x-minor
				segment-elem.fifths.major-in-the-middle
					x-minor
					x-major
						div.wrap.dark
							prime-segment
								x-minor
									i.icon-info.homescreen-icon
								x-major
									div.small GET IT ON
									.title2 Google Play
					x-minor
			div.clear-wrap.center-justify
				h4 2. Complete setup by selecting "Activate" from your mobile device.
			div.clear-wrap
				div
					+button({title: "Activate", position: "center", href: "fallback.html"}).large
			div.clear-wrap.center-justify
				h4 3. Access Granted
			div.big-wrap
				h4.center-justify App Already Installed?
				div.center-justify.clear-wrap
					div.sub Activation Code
					div.passcode 123456
					div.clear-wrap
						p Paste the code above into the "Activation Code" field, of your device's Touch App.
	+panel().dark
			
		
