extend __core__/default
block content
	+panel().light
		h3 Next Step: Install the App
		p Install the PDK Doors app, then try again.
		segment-elem.half
			x-cell
				div.wrap
					prime-segment
						x-minor
							i.icon-info.homescreen-icon
						x-major
							div.small Download on the 
							.title2 App Store
			x-cell
				div.wrap
					prime-segment
						x-minor
							i.icon-info.homescreen-icon
						x-major
							div.small GET IT ON
							.title2 Google Play
	+panel().light
		h4 App already installed?
		p You can use your Personal Passcode to connect.
		+modal("Use Personal Passcode", "center")
			h4 Personal Passcode
			div.center-justify.clear-wrap
				div.sub Personal Passcode
				div.passcode 123456
				div.clear-wrap
					p Paste the code above into the "Personal Passcode" field, of your device's Touch App.
			+submit("Send", "right").email-trigger
		
		div.modal.trigger.success-modal-trigger.hide(data-target="successModal") Yep
		div#successModal.modal.window
			h3 Success!
			p An email containing your personal passcode has been sent.
			p 
				strong Instructions:  
				| Simply copy the passcode, go to the touch app and paste the item into the Passcode box.
			div.clear-wrap
			

block script			
	script.
		$('input[type="submit"]').on('click', function(e) {
			e.preventDefault();
			/* $('.close-modal').click(); */
			$('.success-modal-trigger').click();
		});
	
