extend __core__/default
block content
	panel-wrapper.light.border-bottom
		panel-inner(whitespace="30")
			prime-segment
				x-major
					+logo("PDK")
				x-minor
					div.HAL
	panel-wrapper.light
		panel-inner(whitespace="10")
			div.wrap
				.title 
					i.icon-star.homescreen-icon
					| Favorites
			div.wrap
				.title 
					i.icon-business.homescreen-icon
					a(href="doors.html") Nakatomi Plaza
		
		
		
			
